@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-gray);
}

.card {
    background-color: var(--White);
    width: 375px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .8rem;
    text-align: center;
}

img {
    width: 22rem;
    border-radius: 1rem;
}
h1 {
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 1.7rem;
    margin: 1rem 1rem 1rem 1rem;
}

p {
    font-size: 15px;
    color: var(--Grayish-blue);
    font-weight: 400;
    margin: 0rem 1rem 2rem 1rem;
    padding: 0rem 1rem;
}
@media screen and (max-width:600px) {
    .card {
        width: 300px;
    }
    img {
        width: 17rem;
    }
}